#pause-button-container {
  bottom: 5rem;
  position: absolute;
  right: 5rem;
}

#pause-button {
  border: none;
  border-radius: 0.25rem;
  box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.5);
  clip-path: circle(70.7% at 50% 50%);
  color: #4a4a4a;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 900;
  letter-spacing: 0.25rem;
  padding: 1rem;
  text-transform: uppercase;
  transform: translateX(200%);
  transition: transform 350ms, box-shadow 200ms;
}

#pause-button:active {
  bottom: calc(5rem - 0.125rem);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  right: calc(5rem - 0.125rem);
}

#pause-button #pause-btn-label {
  display: block;
  transform: skewX(-20deg);
  transform-origin: right;
  transition: transform 400ms ease;
}

.start #pause-button {
  animation: show-up-pause-button ease-in-out 600ms forwards;
  animation-delay: 800ms;
  overflow: hidden;
  position: relative;
  transition: clip-path 300ms ease 250ms, width 300ms ease;
  width: 10rem;
}

.start #pause-button::before {
  content: "";
  background-color: #4a4a4a;
  position: absolute;
  height: 1.3rem;
  left: 50%;
  transition: top 300ms ease 500ms;
  transform: translate(-50%, -50%);
  top: -25%;
  width: 1.3rem;
}

.start #pause-button::before {
  right: 30%;
}

#pause-button-container.shrink {
  filter: drop-shadow(-1px 3px 3px rgba(0, 0, 0, 0.5));
}

#pause-button-container.shrink button {
  clip-path: circle(50% at 50% 50%);
  width: 3.5rem;
}

#pause-button-container.shrink #pause-btn-label {
  transform: scaleX(0);
}

#pause-button-container.shrink #pause-button::before {
  bottom: 0%;
  top: 50%;
}

@keyframes show-up-pause-button {
  0% {
    transform: translateX(200%);
  }
  50% {
    transform: translateX(-20%);
  }
  75% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0%);
  }
}
