.party {
  filter: drop-shadow(-1px 3px 3px rgba(0, 0, 0, 0.5));
  transition: 0.3s;
}

.party:hover {
  filter: drop-shadow(-1px 13px 3px rgba(0, 0, 0, 0.5));
}

.party__logo {
  background-color: #bf312c;
  cursor: pointer;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  height: 13rem;
  position: relative;
  transition: clip-path 300ms ease, width 500ms ease 200ms,
    height 500ms ease 200ms;
  width: 13rem;
}

.party__logo::before {
  content: "pt";
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
  left: 50%;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -39%) scale(1);
  transition: transform 200ms ease 500ms;
}

.party__logo--expanded {
  clip-path: polygon(
    50% 0%,
    100% 0,
    100% 35%,
    100% 60%,
    100% 100%,
    50% 100%,
    0 100%,
    0 60%,
    0 35%,
    0 0
  );
  height: 100vh;
  width: 100vw;
}

.party__logo--expanded::before {
  transform: translate(-50%, -39%) scale(0);
}

.party--shutdown-lights .party__logo {
  animation: shutdown 1.5s forwards;
}

@keyframes shutdown {
  from {
    background: #bf312c;
  }
  to {
    background: #000000;
  }
}

/* mobile only */
@media (max-width: 600px) {
  .party__click-label--visible {
    display: block;
  }
}
