body {
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100vw;
}

.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.alert-sound-on {
	width: 100%;
}

/* =================== */

.container {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	position: relative;
	width: 100%;
}

.logo-wrapper {
	filter: drop-shadow(-1px 3px 3px rgba(0,0,0,.5));
	transition: .3s;
}

.logo-wrapper:hover {
	filter: drop-shadow(-1px 13px 3px rgba(0,0,0,.5));
}

.logo-wrapper.expanded .party-logo {
	clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 60%, 100% 100%, 50% 100%, 0 100%, 0 60%, 0 35%, 0 0);
	height: 100vh;
	width: 100vw;
}

.logo-wrapper.expanded .party-logo::before {
	transform: translate(-50%, -39%) scale(0);
}

.party-logo {
	background-color: #BF312C;
	cursor: pointer;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	height: 13rem;
	position: relative;
	transition: clip-path 300ms ease, width 500ms ease 200ms, height 500ms ease 200ms;
	width: 13rem;
}
	
.party-logo::before {
	content: 'pt';
	color: #fff;
	font-size: 3rem;
	font-weight: 900;
	left: 50%;
	position: absolute;
	text-transform: uppercase;
	top: 50%;
	transform: translate(-50%, -39%) scale(1);
	transition: transform 200ms ease 500ms;
}


/* ======================= */
#pause-button-container {
	bottom: 5rem;
	position: absolute;
	right: 5rem;
}

#pause-button {
	border: none;
	border-radius: .25rem;
	box-shadow: -1px 3px 3px rgba(0,0,0,.5);
	clip-path: circle(70.7% at 50% 50%);
	color: #4a4a4a;
	cursor: pointer;
	font-size: 1.3rem;
	font-weight: 900;
	letter-spacing: .25rem;
	padding: 1rem;
	text-transform: uppercase;
	transform: translateX(200%);
	transition: transform 350ms, box-shadow 200ms;
}

#pause-button:active {
	bottom: calc(5rem - .125rem);
	box-shadow: 0px 1px 1px rgba(0,0,0,.5);
	right: calc(5rem - .125rem);
}

#pause-button #pause-btn-label {
	display: block;
	transform: skewX(-20deg);
	transform-origin: right;
	transition: transform 400ms ease;
}

.start #pause-button {
	animation: show-up-pause-button ease-in-out 600ms forwards;
	animation-delay: 800ms;
	overflow: hidden;
	position: relative;
	transition: clip-path 300ms ease 250ms, width 300ms ease;
	width: 10rem;
}

.start #pause-button::after,
.start #pause-button::before {
	content: '';
	background-color: #4a4a4a;
	position: absolute;
	height: 1.3rem;
	width: .5rem;
	transition: top 300ms ease 500ms ;
	transform: translateY(-50%);
	top: -25%;
}

.start #pause-button::after {
	left: 30%;
}

.start #pause-button::before {
	right: 30%;
}

#pause-button-container.shrink {
	filter: drop-shadow(-1px 3px 3px rgba(0,0,0,.5));
}

#pause-button-container.shrink button {
	clip-path: circle(50% at 50% 50%);
	width: 3.5rem;
}

#pause-button-container.shrink #pause-btn-label {
	transform: scaleX(0);
}

#pause-button-container.shrink #pause-button::after,
#pause-button-container.shrink #pause-button::before {
	bottom: 0%;
	top: 50%;
}


@keyframes show-up-pause-button  {
	0% {
		transform: translateX(200%);
	}
	50% {
		transform: translateX(-20%);
	}
	75% {
		transform: translateX(20%);
	}
	100% {
		transform: translateX(0%);
	}
}

/* ======================= */
.countdown {
	opacity: 0;
	transform: scale(0);
}

/* ====================== */
.alert-sound-on {
	display: none;
	flex-direction: column;
	text-align: center;
}

.alert-sound-on span:nth-child(1) {
	font-size: 7.5rem;
	font-weight: 600;
	letter-spacing: .75rem;
	line-height: 7.5rem;
}

.alert-sound-on span {
	color: #fff;
	position: relative;
	width: 100%;
	-webkit-text-stroke: .25rem #000;
}

.alert-sound-on span::before {
	content: attr(data-text);
	color: #000;
	left: 50%;
	position: absolute;
	transform: translate(-51%, -55%);
	top: 50%;
}

.alert-sound-on span:nth-child(2) {
	font-size: 11rem;
	font-weight: 900;
	letter-spacing: 1.5rem;
	line-height: 11rem;
	margin-right:  1.5rem;
	text-transform: uppercase;
}

.alert-sound-on.show {
	display: flex;
}

.alert-sound-on.show span:nth-child(1) {
	animation: move-alert-sound-text 3s linear 3 forwards;
}

.alert-sound-on.show span:nth-child(2) {
	animation: move-alert-sound-text 3s linear 3 forwards reverse;
}

@keyframes move-alert-sound-text {
	0% {
		transform: translateX(100%) skew(-15deg);
	}
	35% {
		transform: translateX(5%) skew(-15deg);
	}
	65% {
		transform: translateX(-5%) skew(-15deg);
	}
	100% {
		transform: translateX(-100%) skew(-15deg);
	}
}